@inject Repository<Genero> generos
@inject Repository<Plataforma> plataformas
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchMe</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/css/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>

    <nav class="navmenu">
        <a href="~/">
            <img src="~/Logo.png">
        </a>
        <div id="barrabusqueda">
            <input type="text" name="id" id="inputBusqueda" placeholder="Buscar película">
            <a href="~/BuscarPelicula" id="enlaceBusqueda">
                <img src="~/lupa.png">
            </a>
        </div>
        
        <input type="checkbox" id="check" />
        <label class="menuicono" for="check">
            <i class='bx bx-menu' id="menu-icon"></i>
            <i class='bx bx-x' id="close-icon"></i>
        </label>

        <div class="navbar">
            <ul class="menuhorizontal">
                <li class="generos">
                    Géneros &#11167;
                    <ul class="sublistadogeneros">
                        @foreach (var g in generos.GetAll())
                        {
                            <li><a href="~/Genero/@g.Nombre.Replace(" ", "-")">@g.Nombre</a></li>
                        }
                    </ul>
                </li>
                <li class="generos"> @* plata *@
                    Plataformas &#11167;
                    <ul class="sublistadogeneros">
                        @foreach (var g in plataformas.GetAll())
                        {
                            <li><a href="~/Plataforma/@g.Nombre.Replace(" ", "-")">@g.Nombre</a></li>
                        }
                    </ul>
                </li>
                @if (User.IsInRole("Critico"))
                {
                    <li id="cerrarsesion">
                        <span> @User.Identity?.Name</span>
                        <br><a href="~/Home/LogOut">Cerrar Sesión</a>
                    </li>
                }
                else
                {
                <li id="cerrarsesion"><a href="~/Login" class="botonIniciarSesion">Iniciar Sesión</a></li>
                }
            </ul>
        </div>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="bloque">
            <a>
                <img src="~/Logo.png" alt="Logo de WatchMe">
            </a>
            <div class="redes">
                <a href="https://www.facebook.com/" target="_blank"><img src="~/Recursos/facebook.png" alt="Icono de Facebook"></a>

                <a href="https://twitter.com/" target="_blank"><img src="~/Recursos/twitter.png" alt="Icono de Twitter"></a>
            </div>
        </div>
        <span>WatchMe® y todos sus derechos pertenecen a Rodrigo Elias, Jorge Liñan y Angel Ferrer</span>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var enlaceBusqueda = document.getElementById('enlaceBusqueda');
            var inputBusqueda = document.getElementById('inputBusqueda');

            enlaceBusqueda.addEventListener('click', function (event) {
                event.preventDefault(); // Evita que el enlace se abra directamente al hacer clic

                var searchTerm = inputBusqueda.value.trim();
                if (searchTerm !== '') {
                    var nuevaURL = '/BuscarPelicula/' + encodeURIComponent(searchTerm);
                    window.location.href = nuevaURL; // Redirige a la nueva URL con el valor de búsqueda como parte de la ruta
                } else {
                    alert('Por favor, ingresa un término de búsqueda.');
                }
            });
        });
    </script>


</body>

</html>