@{

    Layout = "Layout";
}

<section class="destacada">
    <a href="verpelicula.html">
        <img src="image/Tenkinoko.jpg" alt="Nombre de la Película Destacada">
        <div class="info">
            <h2>Weathering With You</h2>
            <p>Género: Drama</p>
            <div class="calificaciondestacada">
                <img id="estrellapeliculadestacada" src="estrella.png">
                <p>10</p>
            </div>
        </div>
    </a>
</section>

<div class="listadopeliculas">

    <div class="categoria">
        <h1>Peliculas mejor valoradas</h1>
        <div class="lista">
            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>

            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>

            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>

            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>

            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>


        </div>
    </div>

    <div class="categoria">
        <h1>Peliculas mejor valoradas</h1>
        <div class="lista">
            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>

            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>

            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>

            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>

            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>


        </div>
    </div>


    <div class="categoria">
        <h1>Peliculas mejor valoradas</h1>
        <div class="lista">
            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>

            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>

            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>

            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>

            <div class="pelicula">
                <a href="#">
                    <div class="detalles">
                        <div class="left">
                            <p>Weathering With You</p>
                            <div class="calificacion">
                                <img id="estrellapelicula" src="estrella.png">
                                <p>10</p>
                            </div>
                        </div>
                    </div>
                    <img src="image/Tenkinoko.jpg">
                </a>
            </div>
        </div>
    </div>
</div>