@font-face {
    font-family: 'DM';
    src: url(Media.ttf);
}
:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #184463;
    --bg-menu: #283A51;
    --amarrillo: #DBF815;
    --rojo: #E70010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: DM;
    display: flex;
    width: 100%;
    overflow: hidden;
}

main {
    text-align: center;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.headerAdmin {
    height: 80px;
    width:100%;
    display:flex;
    justify-content:end;
}

.menu-dashboard {
    width: 300px;
    padding: 10px;
    height: 100vh;
    transition: max-width .3s ease;
    background-color: var(--bg-menu);
    color: var(--blanco);
}

#logo {
    margin-top: 20px;
    width: 90%;
    margin-bottom: 50px;
}

.top-menu .logo img {
    width: 70px;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 25px;
    color: #DBF815;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin-left: 10px;
}

.enlace {
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    display: flex;
    width: 240px;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: all .2s ease;
}

.enlace:hover {
        background: #fff;
        color: var(--rojo);
    }


.cerrarsesion {
    position: absolute;
    bottom: 10px;
}


.enlace i {
    margin-right: 20px;
    font-size: 30px;
}

.table {
    text-align: center;
}

.table-boxshadow {
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);
}


.textarea-custom {
    resize: none;
    height: 200px;
}

.container__nombrepelicula {
    color: #E70010;
    font-weight: 600;
}

.container__textoeliminar {
    font-size: 2rem;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.imagePreviewclass {
    width: 170px;
    background-color: #283A51;
    margin-top: 5px;
    border-radius: 10px;
    height: 220px;
}

.imagePreviewclassActor {
    width: 200px;
    margin-top: 5px;
    border-radius: 50%;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);
    height: 200px;
}

.estadisticasTotal {
    background-color: #283A51;
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

.icono-estadistica {
    font-size: 55px;
    color: #E0E0E0;
}

.estadisticasTotal h4 {
    color: #E0E0E0;
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: 2px;
}

.estadisticasTotal span {
    color: #E0E0E0;
    font-size: 3rem;
    letter-spacing: 2px;
}

table td{
    vertical-align:middle;
    font-size:1.2rem;
}

.InfoAdmin{
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content:end;
    margin-right:30px;
}
.InfoAdmin p{
    margin:0;
    padding:0;
    margin-left: 5px;
}
.InfoAdmin span{
    color:#E70010;
    font-weight:600;
}
.imgUsuario {
    width: 50px;
    height: 50px;
    border-radius:50px;
    margin-right:15px;
}

.table tfoot a {
    margin-right: 10px;
    padding: 2px 8px;
    text-decoration: none;
    color: aliceblue;
    border-radius: 3px;
    background-color: #2A384F;
}

@media screen and (max-width:900px) {
    .menu-dashboard {
        width: 100px;
    }

        .menu-dashboard span {
            display: none;
        }

    .enlace {
        width: 80px;
    }
}
